<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
        <key>UIImageName</key>
        <string>cubbly-nobg</string>
        <key>UIImageRespectsSafeAreaInsets</key>
        <false/>
    </dict>
    <key>UIAppFonts</key>
    <array>
        <string>Nunito-Light.ttf</string>
        <string>Nunito-LightItalic.ttf</string>
        <string>Nunito-Regular.ttf</string>
        <string>Nunito-RegularItalic.ttf</string>
        <string>Nunito-Medium.ttf</string>
        <string>Nunito-MediumItalic.ttf</string>
        <string>Nunito-SemiBold.ttf</string>
        <string>Nunito-SemiBoldItalic.ttf</string>
        <string>Nunito-Bold.ttf</string>
        <string>Nunito-BoldItalic.ttf</string>
        <string>Nunito-ExtraBold.ttf</string>
        <string>Nunito-ExtraBoldItalic.ttf</string>
        <string>Nunito-Black.ttf</string>
        <string>Nunito-BlackItalic.ttf</string>
    </array>
</dict>
</plist>
